<ion-header>
  <ion-toolbar>
    <ion-icon (click)="volver()" name="arrow-back" class="back"></ion-icon>
    <ion-title class="head">
      Vivo Duoc
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="buttonss">
    <ion-button>Arquitectura</ion-button>
    
    <ion-button>Calidad de Software</ion-button>

    <ion-button>Estadística Descriptiva</ion-button>

    <ion-button>Ética para el Trabajo</ion-button>

    <ion-button>Inglés Intermedio</ion-button>

    <ion-button>Proceso de Portafolio 4</ion-button>

    <ion-button>Programación de <br>Aplicaciones Móviles</ion-button>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title class="bottom">
      Asistencia
    </ion-title>
  </ion-toolbar>
</ion-footer>