<ion-header>
  <ion-toolbar>
    <ion-title class="head">
      Vivo Duoc
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="qr">
      <ion-label>Escanear QR</ion-label>
    </ion-segment-button>
  </ion-segment>
  <br>

  <div class="segment" *ngIf="segment === 'qr'">
    <div class="segment-content">
      <!-- Contenedor del escáner QR -->
      <div id="qrScanner" style="width: 100%; height: 300px;"></div>
    </div>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title class="bottom">
      Horario
    </ion-title>
  </ion-toolbar>
</ion-footer>