<ion-header>
  <ion-toolbar>
    <ion-icon (click)="volver()" name="arrow-back" class="back"></ion-icon>
    <ion-title class="head">
      Vivo Duoc
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-card-content><ion-card-subtitle class="sub">Ingenieria en Informatica</ion-card-subtitle> 
    <div class="info">
      Asignaturas inscritas (7) <br> 2° Semestre 2024
    </div>
  </ion-card-content>
  <ion-card class="carta">
    <div class="text">
      Arquitectura
    </div>
    <ion-label class="sub">
      (ASY4131-005D)
    </ion-label>
  </ion-card>
  <ion-card class="carta">
    <div class="text">
      Calidad de Software
    </div>
    <ion-label class="sub">
      (CSY4111-004D)
    </ion-label>
  </ion-card>
  <ion-card class="carta">
    <div class="text">
      Estadística Descriptiva
    </div>
    <ion-label class="sub">
      (MAT4140-004D)
    </ion-label>
  </ion-card>
  <ion-card class="carta">
    <div class="text">
      Ética para el Trabajo
    </div>
    <ion-label class="sub">
      (EAY4450-001D)
    </ion-label>
  </ion-card>
  <ion-card class="carta">
    <div class="text">
      Inglés Intermedio
    </div>
    <ion-label class="sub">
      (INI5111-013D)
    </ion-label>
  </ion-card>
  <ion-card class="carta">
    <div class="text">
      Proceso de Portafolio 4
    </div>
    <ion-label class="sub">
      (APY4461-008D)
    </ion-label>
  </ion-card>
  <ion-card class="carta">
    <div class="text">
      Programación de <br>Aplicaciones Móviles
    </div>
    <ion-label class="sub">
      (PGY41211-004D)
    </ion-label>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="bottom">
      Asignaturas
    </ion-title>
  </ion-toolbar>
</ion-footer>