
<ion-header>
  <ion-toolbar>
    <ion-title class="head">
      Vivo Duoc
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-tabs>
      <ion-tab-bar slot="bottom">

        <ion-tab-button tab="asistencia">
          <ion-icon name="play-circle"></ion-icon>
          Listen Now
        </ion-tab-button>
        <ion-tab-button tab="asignatura">
          <ion-icon name="radio"></ion-icon>
          Radio
        </ion-tab-button>
        <ion-tab-button tab="qr">
          <ion-icon name="library"></ion-icon>
          Library
        </ion-tab-button>
        <ion-tab-button tab="search">
          <ion-icon name="search"></ion-icon>
          Search
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>

 </ion-content>

