<ion-header>
  <ion-toolbar>
    <ion-title class="head">
      Vivo Duoc
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content><ion-card-subtitle class="sub" >Bienvenido, frankito </ion-card-subtitle> 
  </ion-card-content>
  <br>
 
  <ion-card>
      <ion-item>
          <ion-icon name="school-outline"></ion-icon>
          <ion-card-content class="tcard">Asignaturas</ion-card-content>
           <ion-button [routerLink]="['/asignatura']" slot="end">
            <ion-icon name="eye-outline"></ion-icon>
           </ion-button>
      </ion-item>
  </ion-card>

  <br>
  <ion-card>
      <ion-item>
          <ion-icon name="clipboard-outline"></ion-icon>
          <ion-card-content class="tcard">Asistencia</ion-card-content>
           <ion-button [routerLink]="['/asistencia']" slot="end">
            <ion-icon name="eye-outline"></ion-icon>
           </ion-button>          
      </ion-item>
  </ion-card>

  <br>
  <ion-card>
      <ion-item>
          <ion-icon name="qr-code-outline"></ion-icon>
          <ion-card-content class="tcard" >Scanner QR</ion-card-content>
           <ion-button slot="end" [routerLink]="['/qr']">
            <ion-icon name="eye-outline"></ion-icon>
           </ion-button>
      </ion-item>
  </ion-card>

  <br>
  <br>
  <div class="bottons">
    <ion-button expand="block" [routerLink]="['/restablecer']">Restablecer Contraseña</ion-button>
      <ion-button expand="block" (click)="logout()">Cerrar Sesión</ion-button>
  </div>

</ion-content>
